
html,
body,
section,
p,
header,
nav,
footer,
div,
article,
aside,
ol,
ul,
li,
h1,
h6 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: rgb(0,102,153);
}
a:hover, a:focus{
	text-decoration: none;
	color: rgb(7 27 141);
}
html{
	font-size:16px;
}
body,html {
	width: 100%;
	position:relative;
	background-color: #ffffff;
	font-family: "Sour Gummy", interstate, HelveticaNeue, HelveticaNeue neue, Helvetica, Arial, sans-serif;
}

div#container {
	width: 100%;
	/* width:112.5rem; */
	background-color: #fff;
	border-radius: .5rem;
	/* margin: 0.625rem auto; */
	/* height:100%; */
	/* padding: 0.625rem; */
	box-shadow: 0.06rem 0.06rem 0.12rem #a2a2a2, -0.06rem -0.06rem 0.12rem #a2a2a2;
}
.oper-link a{
	font-size:0.75rem;
}
.oper-link a:not(:last-child)::after{
	content:'|';
	margin-left:0.3rem;
}

#header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right:2rem;
}
header .img-container{
	flex:1;
	/* Illiminate the white space between image and banner */
	margin-bottom: -0.25rem;
	/* width:5rem; */
	height:5rem;
}
.small-logo{
	display: none;
}
.menu-container{
	flex:1;
	text-align: right;
	display:none;
}
header .img-container img{
	/* width:200% */
	/* width:5rem; */
	height:5rem

}
#small-logo{
	display: none;
}
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.625rem;
    font-size: 1rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
	right: -2rem;
    background-color: #f9f9f9;
    min-width: 12.5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #0b82ea;
	color:#fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e9e9e9;
}
/* Banner style start */
#container .banner-container{
	/* Sub-title will hava a relative potion to banner-container */
	/* position:relative; */
	height:25rem;
	/* Background */
	/* background-image: url(./assets/images/banner.jpg);
	background-repeat: no-repeat; */
	/* Image will cover the whole banner container */
	/* background-size: cover; */
}
#container .banner-container .carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
}

#container .banner-container .carousel-images {
    display: flex;
    transition: transform 1s ease;
	height: 25rem; /* 固定高度，可以根据需要调整 */
    overflow: hidden;
}

#container .banner-container .carousel-images img {
	width: 100%;
    height: 100%;
    object-fit: cover; /* 或者使用 contain */
    display: none; /* Hide all images by default */
}

#container .banner-container .description {
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
	position: absolute;
	bottom:0.625rem;
	left:0;
	right:0;
	color:#fff;
	font-weight:550;
	text-shadow: 0.06rem 0.06rem 0.12rem #180303;
}
#container .banner-container .carousel-images img.active {
    display: block; /* Show the active image */
}

#container .banner-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
    padding: 0.625rem;
}

#container .banner-container .prev {
    left: 0.625rem;
}

#container .banner-container .next {
    right: 0.625rem;
}
/* Font color */
#container .banner-container .title, #container .banner-container .sub-title{
	color: #fff;
}
/* Styleing title */
#container .banner-container .title{
	letter-spacing:0.19rem;
	font-size: 2.625rem;
	padding: 1.25rem;
}
/* Styleing sub-title */
#container .banner-container .sub-title{
	/* 20 px to the banner container */
	position:absolute;
	bottom:1.25rem;
	right:1.25rem;
	/* italic font */
	font-style: italic;
	/* Space between letters */
	letter-spacing:0.06rem;
	font-size:0.875rem;
	font-weight:550;
}

/* Nav style begin */
#nav-container{
	/* Make ul a flex box */
	display: flex;
	justify-content: center;
	/* ul have a Gradient backgroung color. */
    background-image: linear-gradient(to bottom, #2a1af0, #5267de);
	/* padding: 0.625rem 0; */
}
#nav-container li{
	/* Remove dot before li */
	list-style: none;
	/* When hover, give a hand */
	cursor: pointer;
	/* left/right distance from border to content is 0.625rem */
	padding:0.3rem 0.625rem;
}
#nav-container li a{
	font-size:1rem;
	font-weight:550;
	/* Remove the underscore */
	text-decoration: none;
	/* font color */
	color: #fff;
}
#nav-container li:not(:last-child){
	/* Give li a border-right, without the last li. */
	border-right:0.06rem solid #4f0213;
}
#nav-container li:hover, #nav-container li a:focus{
	/* When put cursor on the li, it wull change it's background color, and the action will completed in 1s */
	background-color: rgba(0,0,0,.3);
	transition: 1s;
}
.active{
	/* background-color: #f1f1f1; */
	background-color: rgb(7 27 141);
	font-size:1.125rem;
	transition: 1s;
}
.active a{
	font-size:1.125rem
}
/*  */
.content-right{
	/* distance from content-left */
	padding:0.5rem;
	/* flex:3 */
}
.content-right .content-nav{
	/* content nav top/right/bottom/left distace */
	margin:0.625rem 0 1.25rem 0;
	font-size:0.875rem;
}
.content-right .content-nav .connect-sign{
	letter-spacing: -0.25rem;
	margin-right:0.625rem;
}
.content-right .content-subtitle{
	/*  top/bottom 1rem */
	margin:1rem 0;
}
.content-right .article{
	font-size:0.875rem;
	/* Give it more distance from top/bottom line */
	line-height: 1.5rem;
}
.content-right .article a{
	font-weight: 550;
}
.content-right .article .article-top{
	/* 1rem from bottom element */
	margin-bottom:1rem;
	font-size:1.125rem;
}
.content-right .article .article-top p{
	/* 1rem from bottom element */
	margin-bottom:1rem;
}
.content-right .article .article-top ul{
	/* 1rem from bottom element */
	list-style-type: none;
}
.content-right .article .article-top .safty-tips{
	/* 1rem from bottom element */
	margin-bottom:1rem;
	font-size:1.5rem;
	color:rgb(0,102,153)
}
.content-right .article-bottom{
	/* Make a flex box for texts and image container */
	display:flex;
	font-size:1rem;
	align-items: center;

}
.content-right .article-bottom-left{
	flex:7;
	padding-top:0.625rem;
}
.content-right .article-bottom-left a{
	/* strech the imag to fit the box */
	font-size:1.25rem;
}
.content-right .article-bottom-right{
	flex:6;
	border:0.06rem solid #ccc;
	padding:0.3rem;
}
.content-right .article-bottom-right img{
	/* strech the imag to fit the box */
	width:100%;
}
.content-right  .article-bottom-right .img-descrition{
	font-size:1rem;
	color:#000;
	line-height:1rem;
}
.content-right .article-bottom-left{
	/* Make a flex box for texts and ul */
	display: flex;
	flex-direction: column;
}
.content-right .article-bottom-left ul{
	margin:1rem;
}
.content-right .article-bottom-left ul li{
	/* Remove the dot before */
	list-style: none;
	margin-bottom: 0.625rem;
}
.content-right .article-bottom-left ul li a{
	font-weight: 550;
}
.content-right .gallery {
	text-align: center;
}
.content-right .gallery img{
	width:12.5rem;
	height:12.5rem;
	margin:0.625rem;
}
/* footer style begin */
footer{
	/* element place in center of footer */
	text-align: center;
	font-size:0.75rem;
	/* 1.25rem away from the content */
	margin-top:1.25rem;
}
footer .copyright{
	margin-right:0.625rem;
	color:#666
}
footer .address{
	color:#666
}
button[type="submit"]{
	/* Give a space between button and input */
	cursor: pointer;
}
/* Contact Us Form */
fieldset#contactInfo {
	border-radius: 0.625rem;
	margin: 1rem auto;
	box-shadow: 0.12rem 0.12rem 0.25rem #ccc, -0.12rem -0.12rem 0.25rem #ccc;
}

.center {
	text-align: center;
	margin-top:10px;
}

#contactInfo .left {
	float: left;
	width: 100%;
}
#contactInfo ul {
	list-style-type: none;
    padding: .2rem;
    margin: 0;
}
#contactInfo h3 {
	margin-left: 1.25rem;
	margin-top: 1.25rem;
}

#contactInfo .left ul li {
	width: 90%;
	/*background: #EEE;*/
	/*border:0.06rem solid black;*/
	border-radius: 0.3rem;
	padding: 0.5rem 0.625rem;
	box-sizing: border-box;
	margin: 0 auto;
}

#contactInfo .left label {
	display: inline-block;
	width: 5.5rem;
	margin-top: 0.12rem;
}

#contactInfo .left input, #contactInfo .left select {
	display: inline-block;
	width: 50%;
	height: 1.5rem;
	padding-left: 0.3rem;
	font-size: 0.875rem;
	line-height: 1.625rem;
	padding-top: 0.19rem;
	color: #333;
}

.error,.reqired-field {
	color: red;
}

.contactError {
	margin-left: 6.875rem;
	color: #D8000C; /* 确保文本颜色足够深 */
    background-color: #ffffff; /* 确保背景颜色足够浅 */
}
/* Submit Button */

#submit,
#clear {
	height: 2.25rem;
	color: #333;
	margin-top: 0.5rem;
	font-size: 1rem;
}

#submit {
	margin-right: 1rem;
}

#submit:hover,
#clear:hover {
	/*box-shadow: 0.12rem 0.12rem 0.12rem #000;*/
	cursor: pointer;
}

.instructor-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.instructor-container .instructor{
	flex:1;
	flex-direction: column;
	text-align: center;
}
.instructor-container .instructor img{
	height:18.75rem
}
.instructor-container .instructor1 img{
	height:8rem
}
#description{
	width:50%;
}
.home-container{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom:1rem;
}
@media all and (max-width:715px) {
	html{
		font-size:14px;
	}
#header .big-logo{
	/* width:5rem; */
	display:none;
}
#nav-container{
	display:none;
}
#header .small-logo{
	/* width:5rem; */
	display:block;
}
.menu-container{
	display:block;
}
.instructor-container{
	flex-direction: column;
}
.instructor-container .instructor img{
	height:12.5rem
}
.home-container img{
	height:19rem;
}
#header{
	position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000; /* 确保在其他元素之上 */
	transition: 0.3s ease; /* 添加过渡效果 */
	}
}
